.presentation-title{
    font-family: 'Arima Madurai', cursive;
    line-height: 1.6em;
    font-weight: 500;
    font-size: 1.5em;
    color: #FF5151;

    letter-spacing: 2px;
    text-align: center;
    margin: 3% auto 1.5% auto;
}
.name-link{
    /* color: #3d5a80; */
    color: #3D5A80;

    font-weight: 500;
    text-decoration: none;
}